/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
	--color-upload: #70d273;
	--color-download: #79b4e4;
	--color-delete: #ea6f6d;
	--color-upload__text: #000;
	--color-download__text: #000;
	--color-delete__text: #000000;
}

.theme-dark {
	--color-upload: #1c641e;
	--color-download: #16578c;
	--color-delete: #c62828;
	--color-upload__text: #ffffff;
	--color-download__text: #ffffff;
	--color-delete__text: #ffffff;
}

.small-button {
	font-size: 12px;
}

.no-border-settings .setting-item {
	border: 0;
}

.squished-setting-item .setting-item-info {
	flex: unset;
}
.squished-setting-item .setting-item-control {
	justify-content: unset;
}

.top-border {
	border-top: 1px solid var(--background-modifier-border);
	padding-top: 8px;
}

.settings-logged-in__chosen-container {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.settings-logged-in__gear-button {
	margin-right: 16px;
}

.settings-logged-in__gear-icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	fill: var(--text-muted);
}

.settings-logged-in__chosen-container .dropdown {
	font-size: 16px;
}

.settings-logged-in__restore-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 12px 0;
}

/* fbd sync styles */
.fbd-sync__btn__icon {
	width: 16px;
	height: 16px;
}

.fbd-sync__upload-btn {
	background-color: var(--color-upload) !important;
	color: var(--color-upload__text) !important;
}

.fbd-sync__upload-btn:not(:disabled):hover {
	opacity: 0.8;
}

.fbd-sync__download-btn {
	background-color: var(--color-download) !important;
	color: var(--color-download__text) !important;
}

.fbd-sync__download-btn:not(:disabled):hover {
	opacity: 0.8;
}

.fbd-sync__delete-btn {
	background-color: var(--color-delete) !important;
	color: var(--color-delete__text) !important;
}

.fbd-sync__delete-btn:not(:disabled):hover {
	opacity: 0.8;
}

.fbd-sync__full-width {
	width: 100%;
}
